.input {
    position: relative;
}

.tip {
    display: none;
    padding: 0px 10px;
    z-index: 9;
}

.input:hover .tip {
    background: white;
    border: 1px solid gainsboro;
    border-radius: 3px;
    bottom: -40px;
    display: inline;
    height: 30px;
    left: 0;
    line-height: 30px;
    position: absolute;
}

.input:hover .tip:before {
    display: block;
    content: "";
    position: absolute;
    top: -5px;
    width: 0;
  	height: 0;
  	border-left: 5px solid transparent;
  	border-right: 5px solid transparent;
  	border-bottom: 5px solid gainsboro;
}
